.login-main
  .login-panel
    .login-account
      %p アカウントをお持ちでない方はこちら
      = link_to "#", class: "contents__btn" do 
        新規会員登録
    .login-form-up
      -# .facebook-login.btn-default
      -#   = link_to "#", class: "facebook__link" do
      -#     = icon('fab', 'facebook-square', class: "contents__btn--icon")
      -#   Facebookでログイン
      -# .google-login.btn-default
      -#   = link_to "#", class: "google__link" do
      -#     = icon('fab', 'google', class: "contents__btn--icon")
      -#   Googleでログイン
    = form_with url:"#", class:"login__form" do |f|
      .login-form-content
        .form-group
          =f.text_field :email, name: "email", placeholder: "メールアドレス",class: 'input-default'
        .form-group
          =f.text_field :password, name: "password", :type => "password",placeholder: "パスワード",class: 'input-default'
        .form-group
        = link_to "#", class: "btn-blue" do
          ログイン
        .form-group
        = link_to "#", class: "content__btn" do
          パスワードをお忘れの方