%section.TP-main__appBanner 
  .TP-main__appBanner__inner 
    %h2.TP-main__appBanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.TP-main__appBanner__inner__text
      今すぐダウンロード！
    .TP-main__appBanner__inner__icon
      = link_to '' do
        = image_tag 'material/button/btn-AppStore.png', alt:'appBannerAppStore', class: 'TP-main__appBanner__inner__icon--png'
      = link_to '' do
        = image_tag 'material/button/btn-GooglePlay.png', alt:'appBannerGoogle', class: 'TP-main__appBanner__inner__icon--png' 