%header.TP-header
  .TP-header__inner
    .TP-header__main
      %h1.TP-header__main__icon 
        %a.TP-header__main__icon--a{ :href => '#'}
      .TP-header__main__searchBox
        %form.TP-form
          %input.TP-input{ :name => 'utf8', :type => 'hidden', :value => '#'}
          %input.TP-input#TP-searchInput{ :name => 'key', :placeholder => 'キーワードから探す'}
        %button.TP-button{type:'submit'}
          .TP-header__main__searchBox--icon
            %img{ :src => '#'}
        %input.TP-input{ :type => 'hidden', :name => 'authenticity_token', :value => '#'}
    .TP-header__navi
      %ul.TP-header__navi__left
        %li.TP-header__navi__left--first
          %a.TP-links#TP-categoryBtn{ :href => '#'} 
            カテゴリ
        %li.TP-header__navi__left--second
          %a.TP-links#TP-brandBtn{ :href => '#'}
            ブランド
      %ul.TP-header__navi__right
        %li.TP-header__navi__right--first
          %a.TP-links#TP-loginBtn{ :href => '#'}
            ログイン
        %li.TP-header__navi__right--second
          %a.TP-links#TP-signupBtn{ :href => '#'}
            新規会員登録
