.TP-main
  %section.TP-main__mainVisual
    .TP-main__mainVisual__content
      %h2.TP-main__mainVisual__content__subtitle
        %br
        人生を変えるフリマアプリ
      %p.TP-main__mainVisual__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .TP-main__mainVisual__content__btn
        = link_to '' do
          = image_tag 'material/button/btn-AppStore.png', alt:'mainVisualAppStore', class: 'TP-main__mainVisual__content__btn--AppStore'
        = link_to '' do
          = image_tag 'material/button/btn-GooglePlay.png', alt:'mainVisualGoogle', class: 'TP-main__mainVisual__content__btn--Google'  