.category_list{
  display: flex;
  position: relative;
  .parents_list{
    display: flex;
    flex-direction: column;
    position: absolute;
    .parent_category {
      height: 38px;
      width: 220px;
      line-height: 38px;
      background-color: #fff;
      color: black;
      border-bottom: solid 1px #f5f5f5;
      z-index: 1;
      // display: none;
    }
    .child_category {
      height: 38px;
      width: 220px;
      line-height: 38px;
      background-color: #fff;
      color: black;
      border-bottom: solid 1px #f5f5f5;
      z-index: 1;

    }
  }
}

