.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:10px; font-weight: 600;
}

.notice{
  color:#262626; 
  background:#d6e9ca;
  text-align: center;
  border:2px solid #32cd32;
  padding:10px; font-weight: 600;
}