@mixin category {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

#editSpan {
  background-color: #35c8cb;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
}

#saveEdit {
  font-size: 20px;
}

#space {
  height: 100%;
  width: 100%;
}

.picture {
  margin-bottom: 5px;
}

#noEdit {
  color: #35c8cb;
  margin: 10px;
  font-style: italic;
}

#detailNoEdit {
  height: 100%;
  padding-bottom: 10px;
}

.link {
  color: #35c8cb;
  font-style: oblique;
  margin-top: 5px;
}

.photo-container {
  background-color: white;
  &__list {
    width: 100%;
    padding-top: 7px;
    display: flex;
    &--order {
      width: 20%;
      position: relative;
    }
    &--pics {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
    &--delete {
      background-color: red;
      color: white;
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: auto;
      text-align: center;
      font-size: 18px;
      margin: 1px;
      padding: 2px;
      border-radius: 4px;
    }
  }
}

.itemsEdit {
  display: block;
  &__pan {
    color: #35c8cb;
    display: flex;
    width: 700px;
    margin: 0 auto 6px;
    .panLink {
      color: #35c8cb;
      text-decoration: underline;
    }
  }
  &__mainContainer {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    .inner {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      border-bottom: 1px;
      &__head {
        font-weight: bold;
        line-height: 1.5;
      }
    }
    .edit-form {
      border-top: 1px solid #eee;
      padding: 0 40px;
      .fa-camera {
        color: #35c8cb;
        padding-top: 10px;
        font-size: 30px;
        display: flex;
        position: relative;
        &__text {
          font-size: 20px;
          position: absolute;
          bottom: 0;
          left: 36px;
        }
      }
      &__photo {
        width: 620px;
        padding: 40px 0 20px 0;
        &--head {
          font-size: 16px;
          font-weight: bold;
        }
        &--must {
          background-color: red;
          color: white;
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          font-size: 12px;
          vertical-align: top;
        }
        &--text {
          margin: 7px 0;
        }
        &--upload {
          display: block;
          width: 620px;
          display: flex;
          .preview-box {
            margin-right: 5px;
            width: 20%;
            &__upper {
              width: 100%;
              height: 124px;
              position: relative;
            }
            &__lower {
              width: 100%;
              display: flex;
              &__btns {
                width: 100%;
                display: flex;
                justify-content: space-between;
                background-color: #35c8cb;
                cursor: pointer;
                &--edit {
                  width: 100%;
                  color: white;
                  line-height: 44px;
                  text-align: center;
                  border: solid 1px #eee;
                }
                &--delete {
                  width: 100%;
                  color: white;
                  line-height: 44px;
                  text-align: center;
                  border: solid 1px #eee;
                }
              }
            }
          }
        }
      }
    }
  }
  &__container {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    .moreInfo {
      color: #35c8cb;
      font-weight: bold;
      padding-left: 40px;
      text-decoration: underline;
      font-style: italic;
    }
    .category {
      &__title {
        label {
          font-size: 16px;
          font-weight: bold;
        }
      }
      &__select {
        padding: 0 40px;
        margin-bottom: 5px;
        #parent_category {
          @include category;
        }
        .items__delivery__select {
          @include category;
        }
      }
    }
    .container-display {
      padding: 10px 40px;
      margin-bottom: 5px;
      label {
        font-size: 16px;
        font-weight: bold;
      }
      &__text {
        @include category;
        &--price {
          width: 95%;
          height: 40px;
          margin-top: 5px;
          padding: 10px;
        }
      }
      &__text1 {
        @include category;
        display: flex;
        justify-content: space-between;
      }
      &__text2 {
        @include category;
        display: flex;
        justify-content: space-between;
      }
      &__text3 {
        @include category;
      }
      .otherPrice {
        display: flex;
        justify-content: space-between;
        .charge {
          text-align: center;
          padding: 0 20px;
          &__title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          &__value {
            font-size: 16px;
          }
        }
      }
    }
  }
  .container-save {
    text-align: center;
    height: 75px;
    margin-bottom: 10px;
    &__btn {
      margin: 10px 0;
      padding: 8px;
      width: 70%;
      background: #35c8cb;
      color: white;
      border-bottom: solid 5px #146d6c;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    &__btn2 {
      margin: 10px 0;
      padding: 7px 35px;
      width: 90px;
      background: black;
      color: white;
      border-bottom: solid 5px gray;
      border-radius: 10px;
      font-size: 15px;
    }
  }
} 

#yen {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

#gain {
  padding-right: 50px;
}

#gainTotal {
  font-weight: bolder;
  border-bottom: 4px red solid;
}

#arrangePhotoSize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#categoryBox {
  border: solid 1px black;
  border-radius: 3px;
}

#changeCategory1 {
  background-color: #35c8cb;
  font-size: 16px;
}

#changeCategory2 {
  background-color: #35c8cb;
  font-size: 16px;
}

.container-category {
  padding: 0 40px;
}

#lessPadding {
  padding: 10px 40px 10px 0;
}


.hidden-field {
  display: none;
}
.hidden-checkbox {
  display: none;
}