* {
  box-sizing: border-box;
  text-decoration: none;
}

$main-color: #3CCACE;
$text-shadow: 0 0 5px rgba(0,0,0,0.4);

@mixin navi-links {
  color: #333;
  line-height: 38px;
  padding-left: 16px;
}

@mixin btnSize {
  width: 180px;
  height: 53px;
}

.TP-header { 
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px;
  } 
  &__main {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    &__icon {
      height: 40px;
      width: 140px;
      margin-right: 30px;
      position: relative;
    }
    &__searchBox {
      margin-left: auto;
      width: 100%;
      display: flex;
      &--form {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
      }
      &--textfield {
        width: 100%;
        height: 35px;
        padding-left: 5px;
        line-height: 25px;
      }
      &--button {
        width: 36px;
        border: 0;
        background-color: $main-color;
        padding: 8px;
        height: 35px;
        position: relative;
      }
      &--icon2 {
        background-color: $main-color;
        height: 35px;
        width: 37px;
        padding: 8px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &__navi {
    font-size: 14px;
    display: flex;
    margin: 10px;
    &__left {
      position: relative;
      display: flex;
      &--links {
        color: #333;
        display: flex;
        line-height: 38px;
      }
    }
    &__right {
      margin-left: auto;
      display: flex;
      &--links {
        @include navi-links;
      }
      &--first {
        @include navi-links;
      }
      &--second {
        @include navi-links;
      }
    }
  }
}

.TP-main {
  background: #f8f8f8;
  &__mainVisual {
    width: 100%;
    height: 560px;
    background-image: image-url('material/pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
      &__subtitle {
      text-shadow: $text-shadow;
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
      }
      &__text {
        text-shadow: $text-shadow;
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin-top: 16px;
      }
      &__btn {
        display: flex;
        margin-top: 24px;
        &--AppStore {
          margin-right: 10px;
          @include btnSize;
        }
        &--Google {
          @include btnSize;
        }
      }
    }
  }
  &__topIntro {
    padding: 60px 20px;
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__lists {
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
    }
    &__list {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      align-items: center;
      display: flex;
      flex-direction: column;
      &__pic {
        margin-bottom: 20px;
        position: relative;
        &--num {
          background-color: $main-color;
          color: #fff;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          font-size: 30px;
          text-align: center;
          border-radius: 2%;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
        }
        &--jpg {
          width: 100%;
          height: 100%;
        }
      }
      &__text {
        margin: 0 0 0 2px;
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
      }
      &__desc {
        margin: 16px 0 0;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
  &__topMiddle {
    background-image: image-url('material/pict/bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    width: 100vw;
    height: 400px;
    background-size: cover;
    align-items: center;
    display: flex;
    &__inner {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      text-shadow: $text-shadow;
      text-align: left;
      &__subtitle {
        line-height: 1.4;
        font-weight: bold;
        font-size: 27px;
      }
      &__text {
        margin: 20px 0 30px;
        line-height: 1.5;
        font-size: 18px;
      }
      &__btn {
        display: flex;
        &--AppStore {
          @include btnSize;
          margin-right: 10px;
        }
        &--Google {
          @include btnSize;
        }
      }
    }
  }
  &__topKeyFeatures {
    background-color: #fff;
    padding: 60px 100px;
    &__head {
      margin: 0 0 40px;
      margin-bottom: 25px;
      padding-bottom: 15px;
      font-size: 27px;
      font-weight: bold;
      text-align: center;
      position: relative;
    }
    &__items {
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      width: calc(1/3 * 100%);
      padding: 0 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      &--img {
        width: 70%;
        margin: 0 auto;
        line-height: 100%;
      }
      &--png {
        width: 100%;
        height: 100%;
      }
      &--subtitle {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &--detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
  &__pickupItems {
    background-color: #f8f8f8;
    padding: 70px 0;
    height: 100%;
    &__head {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
    &__productBox {
      height: 307px;
      &__productHead {
        text-align: center;
        &--title {
          color: $main-color;
          font-weight: bold;
          font-size: 24px;
        }
      }
      &__productLists {
        width: 100%;
        margin-top: 20px;
        padding: 0 230px;
        display: flex;
        justify-content: space-around;
      }
      &__productList {
        width: 220px;
        float: left;
        position: relative;
        &__img {
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: auto;
          z-index: auto;
          &--jpeg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
        &__body {
          padding: 16px;
          background-color: white;
          color: #333;
        }
        &__name {
          font-size: 16px;
          line-height: 1.5;
          text-align: left;
          overflow: hidden;
        }
        &__details {
          font-size: 16px;
          &--tax {
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
  &__appBanner {
    background-image: image-url('material/pict/bg-appBanner-pict.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    position: relative;
    &__inner {
      color: #fff;
      text-align: center;
      &__title {
        text-shadow: $text-shadow;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
        text-shadow: $text-shadow;
      }
      &__icon {
        width: 100%;
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
        &--png {
          @include btnSize;
          margin-right: 10px;
        }
      }
    }
  }
}

.TP-footer {
  background-color: #272727;
  padding: 60px 0;
  color: white;
  text-align: center;
  width: 100vw;
  bottom: 0px;
  &__inner {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__contents {
      width: calc(1/3 * 100%);
      margin: 0 2% 0 0;
      display: flex;
      flex-direction: column;
      &--head {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 20px;
      }
      &--list {
        font-size: 12px;
        color: white;
        text-decoration: none;
        line-height: 32px;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &--furima {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__p {
    font-size: 14px;
  }
}

.TP-purchaseBtn {
  background-color: $main-color;
  width: 120px;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  &__icon {
    width: 60%;
  }
}

#TPbrandBtm {
  padding-left: 40px;
}

#afterLine {
  background-color: $main-color;
  width: 70px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 47%;
}

#TPspan {
  color: $main-color;
}

#pickupItemPriceLikeSpace {
  display: flex;
  justify-content: space-between;
}

#TPIntroListLast {
  margin: 16px 0 0;
}

.itemSold {
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  position: absolute;
  top: 0;
  &__inner {
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-25px 0px 0px -55px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
  }
}