* {
  box-sizing: border-box;
}

.items-new{
  width: 100%;
  height: 1650px;
  background-color: #eeeeee;
  .items{
    width: 700px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    &__picture{
      width: 100%;
      height: 100%;
      border-bottom: 1px dashed;
      padding: 30px;
      .title{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
        p{
          font-weight: normal;
          font-size: 14px;
          padding: 14px 0;
        }
      }
      
      .image-box{     
        display:flex;
        .item-image{
          padding: 10px;}
        .item-image__operetion{
          color :rgb(226, 76, 79);
        }
        .item-num-0#image-box__container{
          margin: 10px ;
          padding: 20px ;
          background: rgb(230, 221, 221);
          border-radius: 10px; 
          text-align: center;
          width:100%;
        }
        .item-num-1#image-box__container{
          margin: 10px 50px;
          padding: 50px ;
          background: rgb(230, 221, 221);
          border-radius: 10px; 
          text-align: center;
          width: 100%;
        } 
        .item-num-2#image-box__container{
          margin: 10px 50px;
          padding: 50px ;
          background: rgb(230, 221, 221);
          border-radius: 10px; 
          text-align: center;
          width: 100%;
        } 
        .item-num-3#image-box__container{
          margin: 10px 50px;
          padding: 50px ;
          background: rgb(230, 221, 221);
          border-radius: 10px; 
          text-align: center;
          width: 100%;
        }
        .item-num-4#image-box__container{
          margin: 10px 50px;
          padding: 50px ;
          background: rgb(230, 221, 221);
          border-radius: 10px; 
          text-align: center;
          width: 100%;
        }
      }
    }
    &__name{
      width: 100%;
      height: 200px;
      border-bottom: 1px dashed;
      padding: 0 30px;
      .name{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
      .items__name__text{
        margin-top: 10px;
        width: 100%;
        height: 40px;
        font-weight: normal;
      }
      .detail{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
    }
    &__detail{
      width: 100%;
      height: 320px;
      border-bottom: 1px dashed;
      padding: 0 30px;
      .title{
        font-size: 12px;
        padding-top: 14px;
      }
      .category{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
      .brand{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
      }
      .status{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
      }
      .items__detail__select{
        font-weight: normal;
        margin-top: 10px;
        width: 100%;
        height: 40px;
      }
    }
    &__delivery{
      width: 100%;
      height: 320px;
      border-bottom: 1px dashed;
      padding: 0 30px;
      .title{
        font-size: 12px;
        padding-top: 14px;
        .link{
          text-decoration: none;
          }
      }
      .fee{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
      .area{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
      .day{
        font-weight: bold;
        font-size: 16px;
        padding-top: 14px;
        span{
          color: white;
          background-color: red;
          border-radius: 2px;
          display: inline-block;
          font-weight: bold;
          line-height: 18px; 
          margin: 0;
        }
      }
      .items__delivery__select{
        font-weight: normal;
        margin-top: 10px;
        width: 100%;
        height: 40px;
      }
    }
    &__price{
      width: 100%;
      height: 200px;
      border-bottom: 1px dashed;
      padding: 0 30px;
      .title{
        font-size: 12px;
        padding-top: 14px;
        .link{
        text-decoration: none;
        }
      }
      .price{
        padding-top:14px;
        display: flex;
        justify-content: space-between;
        &__title{
          font-weight: bold;
          font-size: 16px;
          span{
            color: white;
            background-color: red;
            border-radius: 2px;
            display: inline-block;
            font-weight: bold;
            line-height: 18px; 
            margin: 0;
          }  
        }
        .items__price__value{
          width: 150px;
          height: 30px;
        }
      }
      .charge{
        font-size: 16px;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
      }
      .gain{
        font-size: 16px;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
      }
    }  
    &__exhibit{
      width: 100%;
      padding: 0 30px;
      height: 260px;
      .link{
        text-decoration: none;
        display: block; 
        color: white;
      }
      .exibit-btn{
        margin: 30px 150px;
        padding: 15px;
        text-align:center;
        background: #3ccace;
        border-bottom: solid 5px #146d6c;
        border-radius: 10px; 
      }
      .draft-btn{
        margin: 30px 200px;
        padding: 15px;
        text-align:center;
        background: gray;
        border-bottom: solid 3px rgb(50, 43, 43);
        border-radius: 10px; 
      }
      .back-btn{
        margin: 15px 270px;
        padding: 5px;
        text-align:center;
        background: black;
        border-radius: 10px; 
      }
    }
    &__attention{
      width: 100%;
      padding: 0 70px;
      height: 100px;
      font-size: 13px;
    }
  }
}


