#editSpan {
  background-color: #35c8cb;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
}

#saveEdit {
  font-size: 20px;
}

#space {
  height: 100%;
  width: 100%;
}

.picture {
  margin-bottom: 5px;
}

#noEdit {
  color: #35c8cb;
  margin: 10px;
  font-style: italic;
}

#detailNoEdit {
  height: 100%;
  padding-bottom: 10px;
}

.link {
  color: #35c8cb;
  font-style: oblique;
  margin-top: 5px;
}