* {
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

.wrapper {
  display: flex;
}
 

.TP-header { 
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px;
  } 
  &__main {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    &__icon {
      height: 40px;
      width: 140px;
      margin-right: 30px;
      position: relative;
    }
    &__searchBox {
      margin-left: auto;
      width: 100%;
      display: flex;
      &--form {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
      }
      &--textfield {
        width: 100%;
        height: 35px;
        padding-left: 5px;
        line-height: 25px;
      }
      &--button {
        width: 36px;
        border: 0;
        background-color: #3CCACE;
        padding: 8px;
        height: 35px;
        position: relative;
      }
      &--icon2 {
        background-color: #3CCACE;
        height: 35px;
        width: 37px;
        padding: 8px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &__navi {
    font-size: 14px;
    display: flex;
    margin: 10px;
    &__left {
      position: relative;
      display: flex;
      &--first {
        display: flex;
        line-height: 38px;
      }
      &--second {
        padding-left: 40px;
        display: flex;
        line-height: 38px;
      }
    }
    &__right {
      margin-left: auto;
      display: flex;
      &--first {
        color: #333;
        line-height: 38px;
        padding-left: 16px;
      }
      &--second {
        color: #333;
        line-height: 38px;
        padding-left: 16px;
      }
    }
  }
}