// マイページ画面css
.mypage__main {
  background-color: #f8f8f8;
  padding: 40px 0 40px;
  overflow: scroll;
  .main__contents {
    width: 46vw;
    float: right;
    margin-right: 15vw;
    .main__content__first {
      .mypage__user__image {
        height: 190px;
        text-align: center;
        background-image: url('material/pict/mypage_back.jpeg');
        background-size: cover;
        padding-top: 1px;
        figure {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin: 40px auto 10px;
        }
        .mypage__user__number {
          display: flex;
          font-size: 14px;
          &--left {
            margin-left: auto;
            padding-right: 5px;
          }
          &--right {
            margin-right: auto;
            padding-left: 5px;
          }
        }
      }
      .mypage__notification__todo {
        .mypage__tabs{
          display: flex;
          width: 46vw;
          background-color: white;
          .choice__tab {
            width: 23vw;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            padding-left: 0;
            border: none;
            background-color: #f5f5f5;
            &.on {
              background-color: white;
              border-top: #3CCACE solid 2px;
            }
          }
        }
        .mypage__tab__content {
          li {
            border-bottom: 1px solid #f8f8f8;
            height: 60px;
            padding-left: 10px;
            font-size: 14px;
          }
          .list__link {
            text-decoration: none;
            color: black;
          }
          .mypage__main__list {
            background-color: white;
            display: flex;
            align-items: center;
            &__logo {
              margin-left: 5px;
            }
            &__text {
              margin: 0 15px 0 15px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              height: 60px;
              font-size: 12px;
            }
            .arrow {
              color: #dcdcdc;
              margin-right: 10px;
              &.on {
                color: black;
              }
            }            
          }
          .mypage__main__list--bottom {
            padding-top: 5px;
            background-color: white;
            .maypage__main__list__index {
              background-color: #f5f5f5;
              height: 80%;
              width: 95%;
              margin: 3px auto;
              text-align: center;
              line-height: 48px;
            }
          }
        }
      }
    }
    .main__content__second {
      padding-top: 30px;
      .mypage__tab__head {
        height: 60px;
        line-height: 60px;
        padding-left: 5px;
        background-color: white;
      }
      .mypage__tabs {
        display: flex;
        width: 46vw;
        background-color: white;
        .choice__tab {
          width: 23vw;
          line-height: 60px;
          text-align: center;
          font-size: 16px;
          padding-left: 0;
          border: none;
          background-color: #f5f5f5;
          &.on {
            background-color: white;
            border-top: #3CCACE solid 2px;
          }
        }
      }
      .mypage__tab__content {
        li {
          border-bottom: 1px solid #f8f8f8;
          height: 60px;
          padding-left: 10px;
          font-size: 14px;
        }
        .list__link {
          text-decoration: none;
          color: black;
        }        
        .mypage__main__list {
          background-color: white;
          display: flex;
          align-items: center;
          &__logo {
            margin-left: 5px;
          }
          &__text {
            margin: 0 15px 0 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
            font-size: 12px;
          }
          .arrow {
            color: #dcdcdc;
            margin-right: 10px;
            &.on {
              color: black;
            }
          }
        }
        .mypage__main__list--bottom {
          padding-top: 5px;
          background-color: white;
          .maypage__main__list__index {
            background-color: #f5f5f5;
            height: 80%;
            width: 95%;
            margin: 3px auto;
            text-align: center;
            line-height: 48px;
          }
        }
      }
    }
  }
  .side__contents {
    width: 20vw;
    background-color: white;
    margin-left: 15vw;
    .mypage__nav {
      .mypage__nav__head {
        height: 50px;
        background-color: #f8f8f8;
        padding-top: 25px;
        &.top {
          height: 50px;
          padding: 15px 0 0 10px;
          background-color: #f5f5f5;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
        }
      }
      .arrow {
        color: #dcdcdc;
        margin-right: 10px;
        &.on {
          color: black;
        }
      }
      .list__link {
        text-decoration: none;
        color: black;
      }
      li {
        border-bottom: 1px solid #f8f8f8;
        height: 60px;
        padding-left: 10px;
        font-size: 14px;
      }
      .side__list {
        height: 50px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
      }
    }
  }
}

// ログアウト画面css
.logout__main {
  background-color: #f8f8f8;
  padding: 40px 0 40px;
  overflow: scroll;
  .main__contents {
    width: 46vw;
    float: right;
    margin-right: 15vw;
    height: 200px;
    background-color: white;
    .main__content__logout {
      background-color: #3CCACE;
      margin: 75px auto;
      height: 50px;
      width: 23vw;
      text-align: center;
      line-height: 50px;
      .logout__btn {
        text-decoration: none;
        color: white;
      }  
    }
  }
  .side__contents {
    width: 20vw;
    background-color: white;
    margin-left: 15vw;
    .mypage__nav {
      .mypage__nav__head {
        height: 50px;
        background-color: #f8f8f8;
        padding-top: 25px;
        &.top {
          height: 50px;
          padding: 15px 0 0 10px;
          background-color: #f5f5f5;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
        }
      }
      .arrow {
        color: #dcdcdc;
        margin-right: 10px;
        &.on {
          color: black;
        }
      }
      .list__link {
        text-decoration: none;
        color: black;
      }
      li {
        border-bottom: 1px solid #f8f8f8;
        height: 60px;
        padding-left: 10px;
        font-size: 14px;
      }
      .side__list {
        height: 50px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
      }
    }
  }
}

// クレジットカード登録画面css
.credit__main {
  background-color: #f8f8f8;
  padding: 40px 0 40px;
  overflow: scroll;
  .main__contents {
    width: 46vw;
    float: right;
    margin-right: 15vw;
    background-color: white;
    .main__content__title {
      background-color: white;
      width: 46vw;
      height: 55px;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      border-bottom: 1px solid #f8f8f8;
    }
    .main__content__form {
      width: 46vw;
      .form__top {
        margin: 0 auto;
        max-width: 340px;
        width: 46vw;
        .form__top__group {
          margin-top: 25px;
          font-size: 14px;
          color: #333;
          label{
            font-weight: bold;
          }
          ol{
            display:flex;
            li {
              margin: 8px 3px 0 0;
              border-bottom: none;
            }
          }
          .form__require {
            background-color: red;
            color: #fff;
            font-size: 12px;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
          }
          .card__number {
            height: 45px;
            width: 95%;
            padding-left: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 5px;
          }
          .input__cvc {
            height: 45px;
            width: 95%;
            padding-left: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-top: 5px;
          }
          .input__default{
            width: 90%;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            &.harf{
              width: 40%;
              margin: 5px 8px 0 0;
              height: 45px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
            }
          }
        }
        .about{
          text-align: right;
          .fa-question-circle {
            color: #0099e8;
            font-size: 1rem;
          }
          .about__registered {
            color: #0099e8;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
          }
        }
        .credit__btn {
          width: 99%;
          height: 45px;
          background-color: #3CCACE;
          color: #FFFFFF;
          font-size: 15px;
          cursor: pointer;
          margin: 25px 0 60px;
          border: none;
        }
      }
    }
  }
  .side__contents {
    width: 20vw;
    background-color: white;
    margin-left: 15vw;
    .mypage__nav {
      .mypage__nav__head {
        height: 50px;
        background-color: #f8f8f8;
        padding-top: 25px;
        &.top {
          height: 50px;
          padding: 15px 0 0 10px;
          background-color: #f5f5f5;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
        }
      }
      .arrow {
        color: #dcdcdc;
        margin-right: 10px;
        &.on {
          color: black;
        }
      }
      .list__link {
        text-decoration: none;
        color: black;
      }
      li {
        border-bottom: 1px solid #f8f8f8;
        height: 60px;
        padding-left: 10px;
        font-size: 14px;
      }
      .side__list {
        height: 50px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
      }
    }
  }
}
