.search-result {
  font-size: 20px;
  font-weight: bold;
}
.content_search {
  height: 74vh;
  width: 78vw;
  margin: 0 auto;
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .search_item {
    height: 28vh;
    width: 12vw;
    margin: 10px 0 0 10px;
    .link__group {
      text-decoration: none;
      color: gray;
    }
    .item_image {
      height: 25vh;
      width: 12vw;
      object-fit: contain;
    }
    .item_title {
      height: 3vh;
      width: 12vw;
      font-size: 12px;     
    }
  }
}
